@{
    ViewData["Title"] = "TP 04 Paquetes Turísticos";
}

<p>Ir a seleccionar paquete<a href='@Url.Action("SelectPaquete")'>aqui</a></p>
@foreach(string i in ViewBag.Paquetes.Keys)
{
    <li><h1>@ViewBag.Paquetes[i].Hotel</h1></li>
    <li><h1>@ViewBag.Paquetes[i].Aereo</h1></li>
    <li><h1>@ViewBag.Paquetes[i].Excursion</h1></li>

}
<!-- string i= destino, el cual es la clave por la cual se recorre el diccionario Paquetes->