@{
    ViewData["Title"] = "TP 04 Paquetes Turísticos";
}

<p>Ir a seleccionar paquete<a href='@Url.Action("SelectPaquete")'>aqui</a></p>
@foreach(string i in ViewBag.Paquetes.Keys)
{
    <h1><img src="~/img/Hoteles/@ViewBag.Paquetes[i].Hotel"></h1>
    <h1>@ViewBag.Paquetes[i].Hotel</h1>
    <h1><img src="~/img/Hoteles/@ViewBag.Paquetes[i].Aereo"></h1>
    <h1>@ViewBag.Paquetes[i].Aereo</h1>
    <h1><img src="~/img/Hoteles/@ViewBag.Paquete[i].Excursion"></h1>
    <h1>@ViewBag.Paquetes[i].Excursion</h1>

}
<!-- string i= destino, el cual es la clave por la cual se recorre el diccionario Paquetes->