<form action='@Url.Action("GuardarPaquete")'>
    <p>
        Destinos:<br>
       @for(int i=0; i<ViewBag.destino.Count; i++)
        {
            <input type="radio" name ="Destino" value=@i> @ViewBag.destino[i]<br>
        } 
    </p>
    <br>
    <p>
        Hoteles:<br>
       @for (int i=0 ; i<ViewBag.imgHotel.Count ;i++)
        {
            <input type="radio" name ="Hotel" value=@i><img src="~/img/Hoteles/@ViewBag.imgHotel[i]"><br>
        } 
    </p>
    <br>
    <p>
        Aereos:<br>
       @for (int i=0; i<ViewBag.imgAereos.Count;i++)
        {
            <input type="radio" name ="Aereo" value=@i><img src="~/img/Aereos/@ViewBag.imgAereos[i]"><br>
        } 
    </p>
    <br>
    <p>
        Excursiones:<br>
       @for (int i=0; i<ViewBag.imgExcursion.Count; i++)
        {
            <input type="radio" name ="Excursion" value=@i><img src="~/img/Excursiones/@ViewBag.imgExcursion[i]"><br>
        } 
    </p>
    <p><input type="submit" value="Cargar Paquete"></p><br>
</form>