<form action='@Url.Action("GuardarPaquete")'>
    <p>
        Destinos:<br>
       @foreach (string i in ViewBag.destino)
        {
            <input type="radio" name ="Destino" value=@i> @i<br>
        } 
    </p>
    <p><input type="submit" value="Cargar Paquete"></p>
</form>