<form action='@Url.Action("GuardarPaquete")'>
    <p>
        Destinos:<br>
       @foreach (string i in ViewBag.destino)
        {
            <input type="radio" name ="Destino" value=@i> @i<br>
        } 
    </p>
    <br>
    <p>
        Hoteles:<br>
       @for (int i=0 ; i<ViewBag.imgHotel ;i++)
        {
            <input type="radio" name ="Hotel" value=i><img src="~/img/Hoteles/i"><br>
        } 
    </p>
    <br>
    <p>
        Aereos:<br>
       @for (int i=0; i<ViewBag.imgAereos;i++)
        {
            <input type="radio" name ="Aereo" value=i><img src="~/img/Aereos/i"><br>
        } 
    </p>
    <br>
    <p>
        Excursiones:<br>
       @for (int i=0; i<ViewBag.imgExcursion; i++)
        {
            <input type="radio" name ="Excursion" value=i><img src="~/img/Excursiones/i"><br>
        } 
    </p>
    <p><input type="submit" value="Cargar Paquete"></p><br>
</form>