@{
    ViewData["Title"] = "Calculadora";
}

<h1>TP Calculadora</h1>

<form action ='@Url.Action("Calcular")'>
    <input type = "number" name= "num1">
    <select name="operacion" >
<option>+</option>
<option>-</option>
<option>*</option>
<option>/</option>
<option>^</option>
    </select>
    <input type="number" name ="num2">
    <input type="submit" value ="=">
</form>
<h3></h3>